@using Travel_ASP.ViewModels;

@{
    ViewData["Title"] = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
@model Travel_ASP.ViewModels.BlogViewModel

<div class="card">
    <form asp-action="Save" asp-controller="Blog" method="POST" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" class="form-control" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Tên</label> <span class="text-danger">*</span>
                    <input type="text" asp-for="Name"  class="form-control" />
                </div>
               
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <label>Hình ảnh</span>
                        <input type="file" asp-for="ImageImport" class="form-control" />
                </div>
            </div>

            <div class="row  mt-3">
                <div class="col-md-12">
                    <label>Nội dung</label>
                    <textarea asp-for="Description" rows="10" class="form-control"></textarea>
                </div>
            </div>

            <div class="row mt-3 float-right">
                <div class="col-md-12">
                    <a class="btn btn-danger mr-2" asp-action="Index" asp-controller="Tour">Quay lại</a>
                    <button class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>

