<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" asp-action="Index" asp-controller="Dashboard">
                    <i class="fa fa-home"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Home">
                    <i class="fa fa-desktop"></i>
                    <span>Xem giao diện</span>
                </a>
            </li>
           
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-plane"></i>
                    <span>Quản lý tour</span>
                </a>
                <ul class="sub">
                    <li>
                        <a asp-controller="Tour" asp-action="Index">
                            <span>Danh sách tour</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Tour" asp-action="Bookings">
                            <span>Danh sách book tour</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Contact">
                    <i class="fa fa-comment"></i>
                    <span>Liên hệ</span>
                </a>
            </li>
            <li>
                <a hasp-action="Index" asp-controller="Blog">
                    <i class="fa fa-file-text-o"></i>
                    <span>Bài viết</span>
                </a>
            </li>
            
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-wrench"></i>
                    <span>Cấu hình</span>
                </a>
                <ul class="sub">
                    <li><a asp-action="Index" asp-controller="Setting">Chung</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
